body {
    font-family: Verdana;
    font-weight: normal;
    color: white;
    background-color: black;
    text-align: center;
}

.cta {
    color: aquamarine;
}



h1 {
    font-size: 50px;
}

.video-container {
    align
}

/* Camp section*/

.p-camp {
    color: gray;
    font-size: 21px;
}

.h2 {
    font-weight: 300;
    font-size: 42px;
}

/* Cell phone section */